

.page__container--mainpage {
  grid-template-rows: 2fr 4fr 4fr;
  grid-auto-flow: row;
}


.maintext {
    grid-column: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.maintext p {
  grid-column: 3 / 4;
  align-self: center;
}

.titletext {
  grid-column: 1 / 4;
  font-size: 64px;
}