* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  html, body {
    background-color: #fafafa;
    height: 100%;
    margin: 0;
  }
  
  p {
    margin: 0px;
    font-size: 14px;
  }
  
  ol, ul {
    list-style: none;
  }
  
  ul {
    padding-left: 0px;
  }
  
  .page {
      height: 100%;
      background-color: antiquewhite;
  }
  
  .page__container {
    background-color: #fafafa;
    background-color: antiquewhite;
    width: 100%;
    min-width: 300px;
    height: 100%;
    margin-top: 150px;
  
    display: grid;
    grid-template-columns: [left-gutter] 1fr [content] 8fr [right-gutter] 1fr;
  }

  .hidden {
    display: none;
  }
  
  