
.topbar {
    width: 80%;
    height: 40px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 25px;

    position: sticky;
    top: 40px;
}

.topbar__text {
    padding: 10px;
    text-align: center;
    background-color: #f0e5d5;
    border: 1px solid black;
}

.topbar__bar {
    justify-self: center;
    background-color: #f0e5d5;
    border: 1px solid red;

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.topbar__link {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}

